body
{
	height:200px;
	width: 200px;
	}
	.spinner{
   background-clip: purple;
   height: 200px;
   width:200px;
    margin:  auto;
      top:0;
      bottom:0;
      left:0;
      right:0;
      position:absolute; 
     
   	animation: spin 1s infinite linear;
	}
	@keyframe spin{
		from{
		transform:rotate(0deg);		
		}	
		to{
		transform:rotate(360deg);		
		}
	}